.Circul{
        width: 40%;
        height: 70%;
        background-color: #4600A0 ;
        position: absolute;
        border-radius: 50%;
        filter: blur(100px);
        z-index: 11;
}
.first {
    top: 10%;
    right: -20%;
}
.seconde{
    top: -40%;
    left: -20%;
}
.third{
    bottom: -30%;
    left: -20%;

}
.fourth{
    bottom: -40%;
    left: 25%;
}
.fifth{
    top: 15%;
    right: -25%;
}
.sixth{
    top:-30%;
    left:25%;
}